streamlit
ultralytics
opencv-python-headless
numpy
Pillow
pandas
matplotlib  
#

#steps : push one after one 
#opencv-python-headless==4.8.1.78
#opencv-python-headless






🚀 Workshop Recap: Introduction to Mobile Application Development
 📍 In collaboration with AlphaBit Club

I recently had the privilege of leading a workshop on Mobile Application Development, where I guided participants through the fundamentals of mobile app architecture , from understanding how applications operate under the hood, to building an example about functional authentication system using Firebase. This session aimed to provide a comprehensive, beginner-friendly introduction to the mobile development landscape combining both theory and hands-on experience.

-> Key Topics Covered:
Understanding Mobile Apps
 • Mobile OS, SDKs, Linux Process, App Components
 • Principles of a professional app (Performance, Security, UX, Maintainability)

-> The Developer’s Journey
 • Stages of the Mobile App Development Lifecycle
 • Core roles and skills of a modern mobile developer (UI/UX design, debugging, research)

-> Technologies & Best Practices
 • Native vs Cross-Platform vs Hybrid development
 • Overview of backend integration
 • Introduction to Git & GitHub workflows
 • UI/UX resources (Figma, Dribbble, Storyset, Pexels, Google Fonts, Iconfinder)

Practical Session
 To solidify the concepts, participants built a simple mobile application with Firebase Authentication for user sign-up 
📎 Access the full presentation here:

 👉 https://lnkd.in/eqX4RVkp

 👉Git & GitHub Commands Cheat Sheet : https://lnkd.in/emjE8JB7 

A sincere thank you to the AlphaBit Club team for their support and collaboration and to every participant for their enthusiasm, engagement, and curiosity. Looking forward to many more impactful learning experiences!

hashtag#MobileDevelopment hashtag#Firebase hashtag#GitHub hashtag#AndroidDev hashtag#SoftwareEngineering